
<div id="manage_right">

  <%= link_to 'New Book', new_book_path, :id => "add_book" %>

</div>

<div class="results">

<table>
<tr>
  <td colspan="6"><h2>Checked out books</h2></td>
</tr>
<% current_user.checked_out_items.each do |book| %>
  <tr>
    <td><%= book.title %></td>
    <td><%= book.user.name %></td>
    <td></td>
    <td></td>
    <td><%= link_to 'Show', book %></td>
    <td><%= link_to 'Return', return_path(book.isbn) %></td>
  </tr>
<% end %>

<tr>
  <td colspan='6'><h2>Your books</h2></td>
</tr>
<% current_user.books.each do |book| %>
  <tr>
    <td><%= book.title %></td>
    <td><%= book.user.name %></td>
    <td>
      <% if book.checked_out_to %>
        Checked out to <%= book.checked_out_to.name %> <%= time_ago_in_words book.checked_out_at %> ago.
      <% else %>
        <%= link_to 'Checkout', checkout_path(book.isbn) %>
      <% end %>
    </td>
    <td><%= link_to 'Show', book %></td>
    <td><%= link_to 'Edit', edit_book_path(book) %></td>
    <td><%= button_to 'Delete', {:action => 'destroy', :id => book.id}, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>

</table>

<br />

</div>

