<div class="results">
  <h1>BOOK SEARCH RESULTS - ( <%= @books.count %> Books )</h1>
  <table>
    <% @books.each do |book| %>
      <tr>
        <td><img src="<%= book.thumb %>" alt="Cover of <%= book.title %>" /></td>
        <td><%= book.title %></td>
        <td><%= book.author %></td>
        <td><%= book.user.name %></td>
        <td><%= link_to 'Show', book %></td>
      </tr>
    <% end %>
  </table>
</div>