<div class="results">
  <h1>BOOK SEARCH RESULTS - ( <%= @books.count %> Books )</h1>
  <table>
    <% @books.each do |book| %>
      <tr class="<%= cycle("odd", "even") -%>">
        <td class="img">
          <% if book.thumb && !book.thumb.empty? %>
          <img src="<%= book.thumb %>" alt="Cover of <%= book.title %>" />
          <% end %>
        </td>
        <td><%= link_to(book.title, book_path, :class => "results_link") %></td>
        <td><%= book.author %></td>
        <td><%= book.user.name %></td>
        <td class="checkout">
          <% if book.checked_out_to %>
            Checked out to <%= book.checked_out_to.name %> <%= time_ago_in_words book.checked_out_at %> ago.
          <% else %>
            <%= link_to 'Checkout', checkout_path(book.isbn) %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
