<div id="show_book" class="results">
<p id="notice"><%= notice %></p>

<h2><%= @book.title if @book.title %></h2>
<h3>by <%= @book.author.html_safe if @book.author %></h3>
<%= image_tag(@book.thumb.gsub('&edge=curl',''), :class => 'book_thumb') if @book.thumb %>
<br/>
<p>
  <b>Description:</b>
  <%= @book.description.html_safe if @book.description %>
</p>

<p>
  <b>Subject:</b>
  <%= @book.subject.html_safe if @book.subject %>
</p>

<p>
  <b>Pages:</b>
  <%= @book.pages if @book.pages %>
</p>

<p>
  <b>Publisher:</b>
  <%= @book.publisher.html_safe if @book.publisher %>
</p>

<p>
  <b>Date:</b>
  <%= @book.date if @book.date %>
</p>

<p>
  <b>Isbn:</b>
  <%= @book.isbn %>
</p>

<p>
  <b>Name:</b>
  <%= @book.name %>
</p>

<%= javascript_include_tag 'DYMO_label_framework.js' %>

<script type='text/javascript'>

  jQuery(document).ready(function() {

    var labelXml = '<%= @book.read_label_file %>';
    var label = dymo.label.framework.openLabelXml(labelXml);

    var printers = dymo.label.framework.getPrinters();

    if (printers.length == 0)
    alert("No DYMO printers are installed. Install DYMO printers.");

    var printerName = "";
    for (var i = 0; i < printers.length; ++i)
    {
      var printer = printers[i];
        if (printer.printerType == "LabelWriterPrinter")
        {
          printerName = printer.name;
          break;
        }
    }

  jQuery('#print').click(function() {
    label.print(printerName);
  });

  });

</script>

<%= link_to 'Print Label', '#', :id => 'print' %> |
<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', book_path('manage') %>
</div>
