<!DOCTYPE html>
<html>
<head>
  <title>Floatingbooks</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js" %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
  <link href="stylesheets/floatingbook.css" type="text/css" rel="stylesheet" />
  <link href='http://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Josefin+Slab' rel='stylesheet' type='text/css'>
</head>
<body <%= yield :body_class %>>
	<div id="whopper">
		<div id="header">
		  <a id="logo" href="/">Floating Book</a>
      <ul id="nav">
        <li><a href="/">Home</a></li>
        <li><a href="/books/manage">Manage My Library</a></li>
        <li><a href="/">Search</a></li>      
      </ul>  
    </div><!-- end header-->
    <div id="banner">
      <%= render :partial => "books/search" %>
      <%= flash_helper.html_safe %>
    </div><!-- end banner-->
		<div id="middle">
		  <div id="midInner">
        <%= yield %>
        <% if user_signed_in? %>
          <span id="sign_out_link">Signed in as <%= current_user.email %>. Not you?
            <%= link_to "Sign out", destroy_user_session_path %></span>
        <% end %>
		  
      <div class="clear"></div>
      </div>
		</div><!-- end middle -->
    <div id="footer">
      
		</div><!-- end middle -->
</div><!-- end whopper -->

</body>

</html>
